# Build artifacts
*.o
*.so
*.d
*.core

# Autotools generated (build-time)
Makefile
compile
config.h
config.h.in~
config.log
config.status
configure~
missing
stamp-h1
autom4te.cache/

# Dependency files
.*.d
